<label for="<?php echo $this->getFieldId('digital_code')?>"><?php echo $this->__('Digital Code') ?></label>
<li class="wide">
    <div class="input-box">
        <input placeholder="Digital Code" type="text" id="<?php echo $this->getFieldId('digital_code') ?>"
               value="<?php echo $this->escapeHtml($this->getDigitalCode()) ?>"
               name="<?php echo $this->getFieldName('digital_code') ?>" />
    </div>
</li>