<!--@subject Joyeux anniversaire ! @-->

<p>Bonjour <strong>{{htmlescape var=customer.name}}</strong>,</p>

<p>Aujourd'hui est un jour spécial.</p>

<p>Toute l'équipe de {{var store.getFrontendName()}} vous souhaite un joyeux anniversaire !</p>

<p>A bientôt sur notre boutique,</p>

<p>L'équipe de {{var store.getFrontendName()}}</p>

