<form id="contact-form" action="" method="post">

    <label for="email"><?php echo $this->__('Email') ?> <span class="required">*</span></label><br />
    <input type="text" name="email" id="email" class="input-text required-entry validate-email" /><br />

    <?php echo $this->getChildHtml('contact.bonjour'); ?>

    <label for="message"><?php echo $this->__('Message') ?> <span class="required">*</span></label><br />
    <input type="text" id="message" name="message" class="input-text required-entry" /><br />

    <input name="created_at" value="<?php echo date('d/m/Y'); ?>" type="hidden" />

    <input type="submit" name="submit" value="<?php echo $this->__('Submit') ?>" />
</form>

<?php if ($this->isWeekend()): ?>
    <p><?php echo Mage::helper('core')->__("Notre plateforme téléphonique est joignable aujourd’hui de 8h00 à 19h00") ?></p>
<?php else: ?>
    <p><?php echo Mage::helper('core')->__("Notre plateforme téléphonique sera disponible dès lundi de 8h00 à 19h00") ?></p>
<?php endif; ?>

<script type="text/javascript">
    //< ![CDATA[
        var contact = new VarienForm('contact-form');
    //]]>
</script>


